@page
@model BachHoaXanh.Web.Pages.Bills.CreateModalModel
@using BachHoaXanh
@using Microsoft.Extensions.Localization
@using BachHoaXanh.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<BachHoaXanhResource> L
@section scripts
{
    <abp-script src="/Pages/Bills/CreateModal.js" />
}

@*<abp-dynamic-form abp-model="Bill" asp-page="/Bills/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewBill"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>*@

<div class="container">
    <div class="row">
        <div class="col">
            <abp-card>
                <abp-card-header>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-card-title>@L["New Bill"]</abp-card-title>
                        </abp-column>
                    </abp-row>
                </abp-card-header>
                <abp-card-body>
                    <abp-select asp-for="Bill.CustomerId" asp-items="Model.Customers" />
                    <abp-table striped-rows="true" id="NewBill"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
        <div class="col">
            <abp-card>
                <abp-card-header>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-card-title>@L["List Product"]</abp-card-title>
                        </abp-column>
                    </abp-row>
                </abp-card-header>
                <abp-card-body>
                    <abp-table striped-rows="true" id="ListProduct"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </div>
</div>

